<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
        
        </div>
        <div class="col-sm-6"><br><br>
                <h3>SPV Registeration</h3><br>
                <div class="alert alert-info">
                       
                                 <p class="big"><font size="4">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a title="service purchase vechicle" data-toggle="popover" data-trigger="hover" data-content="Some content">SPVs</a>
                                       are mostly formed to raise funds from the market. Technically, an SPV is a  company.
                                        It has to follow the rules of formation of a company laid down in the  Companies Act. 
                                       Like a company, the SPV is an artificial person. It has all the  attributes of a legal person. 
                                       It is independent of members subscribing to the  shares of the SPV. 
                                       The SPV has an existence of its own in the eyes of law. It can  sue and be sued in its name.
                                        The SPV has to adhere to all the regulations laid  down in the Companies Act. Members of an
                                        SPV are mostly the companies and  individuals sponsoring the entity. An SPV can also be a partnership firm.
                                    </font> </p>
                                </div>                      
                    
           <button class="btn btn-info" (click)="spv_registeration()">Register</button>
   
        </div>
        <div class="col-sm-3">
        
        </div>
        </div>
      


</div>
</body>
</html> 

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
loadingText="Transaction in process..."
type="ball-scale-multiple">
</ngx-spinner>