#liid{
    color: white;
    margin-top: 8px;
}
// .nav-item .nav-link:hover {
//     color: black;
// }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    /* background-color: #fff; */
    border-color: #dee2e6 #dee2e6 #fff;
}