
<html>
  <head>
   <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  </head>
  <body>  

  <!-- <div class="container">     
    <div class="row">
      <div class="col-sm-3"></div>
  
      <div class="col-sm-6" id="div">
        
       
        </div>
      <div class="col-sm-3">
          
      </div>
    </div>  
  </div> -->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-stylish-strong">
        <div class="container flex-center">
            <div class="d-flex align-items-center w-100">
                <div class="row flex-center pt-5 mt-3 w-100">
                    

                    <div class="col-md-6 col-xl-5 offset-xl-1">
                        <!--Form-->
                        <div class="jumbotron"  style="background-image:linear-gradient(45deg, rgb(7, 3, 218) 10%, rgba(59, 56, 246, 0.712) 90%);">
                            <h5 style="color: wheat"><strong>LOGIN</strong></h5>
                              <hr style="border-color: wheat"><br>
                          <div  >
                              <h5 style="color: wheat"><strong>Enter Private Key</strong></h5>
                              <br>
                              <input type="text" placeholder="Enter your private key" class="form-control" #privatekey >
                              <br><br> 
                              <div style="text-align:center">
                                  <input type="button" style="color:black" class="btn"  value="Sign in" (click)="prikey(privatekey.value)">
                              </div> 
                          
                        
                            </div>
                          </div>
                        <!--/.Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  </body>
  </html>