<br>

<div class="container-fluid">
  <div class="row">
        <div class="col-sm-8">
            <div class="row">
                     
                        <div class="col-sm-12">
                                <h3><strong>Add Loan Details:</strong></h3><br>
        
                                <div class="row">
                                                
                                <div class="col-sm-6">
                                   
                                    <div class="group">      
                                        <input type="text" id="id1"  #borrowerid required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label >Enter Borrower Id</label>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                    
                                       
                                        <div class="group">      
                                            <input type="text" id="id2"  #borrowerloanAmount required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label >Enter Borrower Loan Amount(Rs)</label>
                                          </div>
                                        
                                      </div>
                              
                                  </div>
                              
                                    <div class="row">
                                            <div class="col-sm-6">
                                                    <!-- <br> -->
                                     
                                                    <div class="group">      
                                                        <input type="text" id="id3"  #interestrate required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label>Enter Interest rate</label>
                                                      </div>
                    
                                                  </div>
                                    
                                        <div class="col-sm-6">
                                            <!-- <br> -->
                                         
                                            <div class="group">      
                                                <input type="text" id="id4"  #loanduration required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label >Enter Loan Duration(in months)</label>
                                              </div>
                    
                                          </div>
                    
                                      </div>
                              
                                      <div class="row">
                                       
                                            <div class="col-sm-6">
                                                <!-- <br> -->
                                             
                                                <div class="group">      
                                                    <input type="text" id="id5"  #assetdetails required>
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label >Enter Asset Details</label>
                                                  </div>
                              
                                              </div>
                    
                                              <div class="col-sm-6">
                                                  <br>
                                      
                              
                                                  <div class="group">      
                                                      <input type="text" id="id6"  #assetamt required>
                                                      <span class="highlight"></span>
                                                      <span class="bar"></span>
                                                      <label >Enter Asset Amount(in rupees)</label>
                                                    </div>
                    
                                                </div>
                    
                                            </div>
                              
                                            <div class="row">
                                             
                                                   
                                                <div class="col-sm-6">
                                                    <br>
                                     
                                                    <div class="group">      
                                                        <input type="text" id="id7"  #borrowerpaid required>
                                                        <span class="highlight"></span>
                                                        <span class="bar"></span>
                                                        <label >Enter Borrower Paid(in rupees) *Optional</label>
                                                      </div>
                    
                                                  </div>
                                                  <div class="col-sm-6">
                                                        <br>
                                                    <button class="btn btn-primary" (click)="upload(borrowerid.value,borrowerloanAmount.value,interestrate.value,loanduration.value,assetdetails.value,assetamt.value,borrowerpaid.value)">Upload Details</button>     
                                                    </div>    
                                                </div>
                                                           
                        </div>
                      
                        
                    </div>
                        
                    </div>

       <div class="col-sm-3">
        <h4><b>Borrower Details</b></h4><br>
        <table class="table" style="overflow-y:auto;display:block;height:400px;width:195px;">
            <thead class="tablecolor">
              <tr>
                <th>Borrower Name</th>
                <th>Borrower ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let borrower of borrowerlist" >
                <td>{{ borrower.borrowername }}</td>
                <td>{{ borrower.borrowerid }}</td>
              </tr>
            </tbody>
        </table>
       </div>                                                              
                               

    
    <!-- <div class="col-sm-6">
        <h4><b>Loan Details</b></h4><br>
<div style="overflow-y:auto;display:block;height:300px;">
        <table class="table" >
                <thead class="tablecolor">
                  <tr>
                    <th>Loan ID</th>
                    <th> Borrower ID</th>
                    <th>Borrower Loan Amount(Rs)</th>
                    <th> Borrower Interest Rate</th>
                    <th>Loan Duration</th>
                    <th>Asset ID</th>
                    <th>Asset Details</th>
                    <th>Asset Amount (Rs)</th>
                    <th>Borrower Paid</th>
                  </tr>
                </thead>
                <tbody id="loantable">
                    <tr *ngFor="let issuer of loan_details">
                        <td>{{ issuer.loanid }}</td>
                        <td>{{ issuer.borrowerid }}</td>
                        <td >{{ issuer. borrowerloanamt}}</td>
                        <td>{{ issuer.borrowerintrest }}</td>
                        <td>{{ issuer.loanduration }}</td>
                        <td>{{ issuer.assetid }}</td>
                        <td>{{ issuer.assetdetails }}</td>
                        <td >{{ issuer.assetamt }}</td>
                        <td >{{ issuer.borrowerpaid }}</td>
                     </tr>
                 </tbody>
              </table>
</div>

    </div> -->
</div>
<div class="row">
        <div class="col-sm-12">
                <h4><b>Loan Details</b></h4><br>
        <div style="overflow-y:auto;display:block;height:300px;">
                <table class="table" >
                        <thead class="tablecolor">
                          <tr>
                            <th>Loan ID</th>
                            <th> Borrower ID</th>
                            <th>Borrower Loan Amount(Rs)</th>
                            <th> Borrower Interest Rate</th>
                            <th>Loan Duration</th>
                            <th>Asset ID</th>
                            <th>Asset Details</th>
                            <th>Asset Amount (Rs)</th>
                            <th>Borrower Paid</th>
                          </tr>
                        </thead>
                        <tbody id="loantable">
                            <tr *ngFor="let issuer of loan_details">
                                <td>{{ issuer.loanid }}</td>
                                <td>{{ issuer.borrowerid }}</td>
                                <td >{{ issuer. borrowerloanamt}}</td>
                                <td>{{ issuer.borrowerintrest }}</td>
                                <td>{{ issuer.loanduration }}</td>
                                <td>{{ issuer.assetid }}</td>
                                <td>{{ issuer.assetdetails }}</td>
                                <td >{{ issuer.assetamt }}</td>
                                <td >{{ issuer.borrowerpaid }}</td>
                             </tr>
                         </tbody>
                      </table>
        </div>
        
            </div>
</div>
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
loadingText="Transaction in process..."
type="ball-scale-multiple">
</ngx-spinner>