 <section class="view intro-2">
        <div class="full-bg-img mask rgba-stylish-strong">
            
            <div style="height: 100vh">
                    <div class="flex-center flex-column">
                            <div class="white-text">
                      <h4 class="animated fadeIn mb-4 h1 display-4 wow">Welcome to Loan Securitization</h4>
                      <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                      <h4 class="animated fadeIn mb-4 h1 display-4 wow">Your Account Address:</h4>
                      <h3 class="animated fadeIn mb-4 h1 display-4 wow" id="ptag"></h3>
                  
                     
                   
                  </div>
        </div>
        </div>
        </div>
    </section>
